DATABASE_URL="postgresql://LEXI_LEDGER_USER:LEXI_LEDGER_PASS@localhost:5433/lexi_ledger?schema=public"
JWT_ACCESS_SECRET="replace-with-output-of-openssl-rand-hex-32"
JWT_ACCESS_EXPIRES_IN=15m
PORT=3000
NODE_ENV=development
